Repository shabados/gurmukhi-utils, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Harjot1Singh, @bhajneet, @dsomel21, @onkarjit, @akshdeep-singh

.github/CODEOWNERS:

* @Harjot1Singh @bhajneet

/python/ @bhajneet
/javascript/ @bhajneet
/ruby/ @dsomel21
/csharp/ @onkarjit
/dart/ @akshdeep-singh

build: use mise to manage tool versions
  CONTRIBUTING.md
  javascript/CONTRIBUTING.md
  javascript/mise.toml
  python/CONTRIBUTING.md
  python/mise.toml
  ruby/CONTRIBUTING.md
  ruby/Gemfile
  ruby/Gemfile.lock
  ruby/mise.toml
Owners: @Harjot1Singh, @bhajneet, @dsomel21

build(javascript): improve tsconfig for library builds
  javascript/tsconfig.json
Owners: @bhajneet

test: standardise the guut runner across languages
  CONTRIBUTING.md
  javascript/package.json
  javascript/test/globals.js
  javascript/test/guut.ts
  javascript/test/toAscii.test.js
  javascript/test/toAscii.test.ts
  javascript/test/toUnicode.test.js
  javascript/test/toUnicode.test.ts
  javascript/test/toUnicodeAscii.test.js
  javascript/test/toUnicodeAscii.test.ts
  python/tests/globals.py
  python/tests/guut.py
  python/tests/test_ascii.py
  python/tests/test_remove.py
  python/tests/test_unicode.py
  python/tests/test_unicode_ascii.py
  ruby/CONTRIBUTING.md
  ruby/Gemfile
  ruby/Gemfile.lock
  ruby/Rakefile
  ruby/spec/ascii_spec.rb
  ruby/spec/guut.rb
  ruby/spec/spec_helper.rb
  ruby/spec/unicode_ascii_spec.rb
  ruby/spec/unicode_spec.rb
  test/README.md
  test/remove.json
  test/toAscii.json
  test/toUnicode.json
  test/toUnicodeAscii.json
Owners: @Harjot1Singh, @bhajneet, @dsomel21

refactor(javascript): use .ts import extensions
  javascript/package-lock.json
  javascript/package.json
  javascript/src/index.ts
  javascript/src/toAscii.ts
  javascript/tsconfig.build.json
  javascript/tsconfig.json
  javascript/tsconfig.prod.json
Owners: @bhajneet

refactor: generate shared constants from jsonc
  constants/.gitignore
  constants/README.md
  constants/mise.toml
  constants/package-lock.json
  constants/package.json
  constants/scripts/to-constants/generators.ts
  constants/scripts/to-constants/index.ts
  constants/scripts/to-json.ts
  constants/src/ascii.jsonc
  constants/src/converters-guru-latn.jsonc
  constants/src/lines.jsonc
  constants/src/unicode.jsonc
  constants/src/vishraams.jsonc
  constants/tsconfig.json
  javascript/.gitignore
  python/.gitignore
  python/gurmukhiutils/ascii.py
  python/gurmukhiutils/constants.py
  python/gurmukhiutils/convert.py
  python/gurmukhiutils/converters/guru_latn.py
  python/gurmukhiutils/converters/guru_latn_pa.py
  python/gurmukhiutils/remove.py
  python/gurmukhiutils/unicode.py
  python/tests/test_remove.py
  ruby/.gitignore
Owners: @Harjot1Singh, @bhajneet, @dsomel21

build: add vscode rust settings
  .vscode/extensions.json
  .vscode/settings.json
Owners: @Harjot1Singh, @bhajneet

feat: add rust unicode functions
  .gitignore
  Cargo.lock
  Cargo.toml
  mise.toml
  src/helpers.rs
  src/lib.rs
  src/unicode.rs
  src/unicode/normalize.rs
  test/toUnicode.json
  tests/unicode.rs
  uniffi-bindgen.rs
Owners: @Harjot1Singh, @bhajneet

feat: add rust ascii functions
  src/ascii.rs
  src/lib.rs
  tests/ascii.rs
Owners: @Harjot1Singh, @bhajneet

refactor: split unicode tests into separate functions per section
  tests/unicode.rs
Owners: @Harjot1Singh, @bhajneet

chore: remove resolved comment in unicode constants
  constants/src/unicode.jsonc
Owners: @Harjot1Singh, @bhajneet

feat: upgrade uniffi to 0.30 and export to_unicode
  Cargo.lock
  Cargo.toml
  src/unicode.rs
Owners: @Harjot1Singh, @bhajneet

build: add wasm build config and gitignore generated files
  .gitignore
  ubrn.config.yaml
Owners: @Harjot1Singh, @bhajneet

build: add js packaging and post-generation enum patch script
  package-lock.json
  package.json
  scripts/patch-enums.ts
Owners: @Harjot1Singh, @bhajneet

chore: clean up root package.json
  package-lock.json
  package.json
Owners: @Harjot1Singh, @bhajneet
