Repository shabados/gurmukhi-utils, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Harjot1Singh, @bhajneet, @dsomel21, @onkarjit, @akshdeep-singh

.github/CODEOWNERS:

* @Harjot1Singh @bhajneet

/python/ @bhajneet
/javascript/ @bhajneet
/ruby/ @dsomel21
/csharp/ @onkarjit
/dart/ @akshdeep-singh

docs: fix formatting of readme
  README.md
Owners: @Harjot1Singh, @bhajneet

Minor tweaks
  ruby/gurmukhi_utils.gemspec
Owners: @dsomel21

Update `CONTRIBUTING.md`
  ruby/CONTRIBUTING.md
Owners: @dsomel21

Move `spec` file
  ruby/spec/unicode_spec.rb
Owners: @dsomel21

Update `README` and `gemsec` config
  ruby/README.md
  ruby/gurmukhi_utils.gemspec
Owners: @dsomel21

Update ruby/README.md
  ruby/README.md
Owners: @dsomel21

Update ruby/gurmukhi_utils.gemspec
  ruby/gurmukhi_utils.gemspec
Owners: @dsomel21

[rb] build: update gem (#209)
  ruby/CONTRIBUTING.md
  ruby/README.md
  ruby/gurmukhi_utils.gemspec
  ruby/spec/unicode_spec.rb
Owners: @dsomel21

feat: add ascii to unicode function
  README.md
  javascript/.gitignore
  javascript/.prettierignore
  javascript/README.md
  javascript/package-lock.json
  javascript/package.json
  javascript/src/index.ts
  javascript/src/toUnicode.ts
  javascript/test/toUnicode.test.js
  javascript/tsconfig.json
  javascript/tsconfig.prod.json
Owners: @Harjot1Singh, @bhajneet

refactor: use org ts/js naming conventions
  javascript/src/toUnicode.ts
  javascript/test/toUnicode.test.js
Owners: @bhajneet

docs: update contribute and related fields
  csharp/README.md
  dart/README.md
  javascript/README.md
  python/README.md
  ruby/README.md
Owners: @onkarjit, @akshdeep-singh, @bhajneet, @dsomel21

feat: add unicode to ascii function
  README.md
  javascript/src/toAscii.ts
  javascript/test/toAscii.test.js
Owners: @Harjot1Singh, @bhajneet

docs: add installation instructions for ruby
  README.md
Owners: @Harjot1Singh, @bhajneet

build: use single test source for all languages
  javascript/test/globals.js
  javascript/test/toAscii.test.js
  javascript/test/toUnicode.test.js
  python/gurmukhiutils/ascii.py
  python/tests/globals.py
  python/tests/test_ascii.py
  python/tests/test_ascii_unicode_ascii.py
  python/tests/test_remove.py
  python/tests/test_unicode.py
  test/README.md
  test/remove.json
  test/toAscii.json
  test/toUnicode.json
Owners: @bhajneet, @Harjot1Singh

init
  dart/.gitignore
  dart/CHANGELOG.md
  dart/analysis_options.yaml
  dart/pubspec.yaml
Owners: @akshdeep-singh

add conversion: ascii to gurmukhi
  dart/lib/src/conversion/ascii_to_gurmukhi.dart
Owners: @akshdeep-singh

conversion: add more ascii to gurmukhi mappings
  dart/lib/src/conversion/ascii_to_gurmukhi.dart
Owners: @akshdeep-singh

Add Gurmukhi Utils - Remove Vishraams - First Letters - Split - Normalization
  dart/lib/src/conversion/ascii_to_gurmukhi.dart
  dart/lib/src/gurmukhi.dart
Owners: @akshdeep-singh

Add support for SantLipi modifiers
  dart/lib/src/conversion/ascii_to_gurmukhi.dart
  dart/lib/src/gurmukhi.dart
Owners: @akshdeep-singh

Export Library
  dart/lib/gurmukhi_utils.dart
Owners: @akshdeep-singh

Add Example
  dart/example/example.dart
Owners: @akshdeep-singh

Add License
  dart/LICENSE
Owners: @akshdeep-singh

Add Tests
  dart/test/conversion/ascii_to_gurmukhi_test.dart
  dart/test/gurmukhi_test.dart
Owners: @akshdeep-singh

Fix 'Î' mapping
  dart/lib/src/conversion/ascii_to_gurmukhi.dart
  dart/lib/src/gurmukhi.dart
  dart/test/conversion/ascii_to_gurmukhi_test.dart
Owners: @akshdeep-singh

Add Readme
  dart/README.md
  dart/pubspec.yaml
Owners: @akshdeep-singh

Update dart/pubspec.yaml
  dart/pubspec.yaml
Owners: @akshdeep-singh

Change version, Remove License
  dart/CHANGELOG.md
  dart/LICENSE
  dart/pubspec.yaml
Owners: @akshdeep-singh

Use map instead of switch/case
  dart/lib/src/gurmukhi.dart
Owners: @akshdeep-singh

Refactor tests to get data from json files
  dart/pubspec.yaml
  dart/test/conversion/ascii_to_gurmukhi_test.dart
  dart/test/gurmukhi_test.dart
  dart/test/gurmukhi_utils_test.dart
Owners: @akshdeep-singh

Fix SantLipi normalise to Unicode
  dart/example/example.dart
  dart/lib/src/conversion/ascii_to_gurmukhi.dart
  dart/lib/src/gurmukhi.dart
Owners: @akshdeep-singh

Update Contributing
  dart/CONTRIBUTING.md
  dart/README.md
  dart/example/example.dart
Owners: @akshdeep-singh

Remove half-yayya workaround Readme: Add reference to SantLipi
  dart/README.md
  dart/lib/src/conversion/ascii_to_gurmukhi.dart
  dart/lib/src/gurmukhi.dart
Owners: @akshdeep-singh

Add Conversion: Number to Gurmukhi
  dart/README.md
  dart/example/example.dart
  dart/lib/src/conversion/ascii_to_gurmukhi.dart
  dart/pubspec.yaml
Owners: @akshdeep-singh

Fix Normalization: Add Addha Yayya Exception
  dart/lib/src/gurmukhi.dart
Owners: @akshdeep-singh

Update `ਭ੍ਯਿੋ` global test Update WIP in global README
  README.md
  test/toUnicode.json
Owners: @Harjot1Singh, @bhajneet

feat: add dart implementation (#210)
  README.md
  dart/.gitignore
  dart/CHANGELOG.md
  dart/CONTRIBUTING.md
  dart/README.md
  dart/analysis_options.yaml
  dart/example/example.dart
  dart/lib/gurmukhi_utils.dart
  dart/lib/src/conversion/ascii_to_gurmukhi.dart
  dart/lib/src/gurmukhi.dart
  dart/pubspec.yaml
  dart/test/gurmukhi_utils_test.dart
  test/toUnicode.json
Owners: @Harjot1Singh, @bhajneet, @akshdeep-singh

build: publish dart package
  README.md
  dart/pubspec.yaml
Owners: @Harjot1Singh, @bhajneet, @akshdeep-singh

ws: ignore ds_store files
  .gitignore
Owners: @Harjot1Singh, @bhajneet

feat: update logic to new Sant Lipi version
  dart/CONTRIBUTING.md
  dart/README.md
  dart/example/example.dart
  dart/lib/src/conversion/ascii_to_gurmukhi.dart
  dart/lib/src/gurmukhi.dart
  dart/test/gurmukhi_utils_test.dart
  javascript/CONTRIBUTING.md
  javascript/src/index.ts
  javascript/src/toAscii.ts
  javascript/src/toUnicode.ts
  javascript/test/globals.js
  javascript/test/toUnicode.test.js
  javascript/test/toUnicodeAscii.test.js
  python/CONTRIBUTING.md
  python/gurmukhiutils/ascii.py
  python/gurmukhiutils/convert.py
  python/gurmukhiutils/converters/guru_latn.py
  python/gurmukhiutils/unicode.py
  python/tests/converters/test_guru_latn.py
  python/tests/converters/test_guru_latn_pa.py
  python/tests/globals.py
  python/tests/test_ascii_unicode_ascii.py
  python/tests/test_unicode_ascii.py
  ruby/CONTRIBUTING.md
  ruby/Gemfile
  ruby/Gemfile.lock
  ruby/lib/ascii.rb
  ruby/lib/unicode.rb
  ruby/spec/ascii_spec.rb
  ruby/spec/unicode_ascii_spec.rb
  test/README.md
  test/toAscii.json
  test/toUnicode.json
  test/toUnicodeAscii.json
Owners: @akshdeep-singh, @bhajneet, @dsomel21, @Harjot1Singh

docs: add unicode tools/resources
  README.md
Owners: @Harjot1Singh, @bhajneet
